/* halaman login */
body {
    background-color: #353434;
}
.main-content {
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    margin: 12% auto;
    display: flex;
}
.company__info {
    background-color: #008080;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
/* .fa-android {
    font-size: 3em;
} */
@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
    }
    .company__info {
        display: none;
    }
    .login_form {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
    .main-content {
        width: 70%;
    }
}
.baris > h2 {
    color: #008080;
}
.login_form {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;

    padding-top: 12px;
    padding-bottom: 12px;
}
.formu {
    padding: 0 2em;
    padding-left: 5px;
}
.form__input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em 0.5em 0.5em;
    /* padding-left: 2em; */
    outline: none;
    margin: 15px;
    margin-bottom: 0px;
    transition: all 0.5s ease;
}
.form__input:focus {
    border-bottom-color: #008080;
    box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
    border-radius: 4px;
}

.form-check-input[type="checkbox"] {
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.form-check-label[for="remember"] {
    cursor: pointer;
}

.tombol {
    transition: all 0.5s ease;
    width: 60%;
    height: 33.777778px;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.tombol:hover,
.tombol:focus {
    background-color: #008080;
    color: #fff;
}

/* sidebar */

.bg-gradient-color {
    background-image: linear-gradient(195deg, #008080, #008080);
}

/* untuk button */

.btcolor {
    background-image: linear-gradient(195deg, #008080, #008080);
}

/* header edit toko dan tambah user */
.crd-edit {
    padding-left: 0px;
    padding-right: 0px;
}

/* card detial */

.crddet {
    padding-right: 0px;
    padding-left: 0px;
}

.shadow-tabl{
    box-shadow:  0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.grnd{
    text-align:center ; font-weight:bold; background-color: #f9f8f8;
}
.grnd1{
     font-weight:bold; background-color: #f9f8f8;
}

.hcb{
    height: 200px;
}

.jumlh{
    font-size: 15px;
    color: #474646;

}

.total{
    font-weight: bolder;
    color: #474646;
}

